{% extends "index.html" %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <p class="lead">select your matches!</p>
    </div>
</div>
<div class="row">
    <form class="form-horizontal" id="choose-prefs">
        <div class="form-group">
            <label for="choice1" class="control-label col-md-4">First Choice</label>
            <div class="col-md-4">
                <select class="form-control preference" id="choice1">
                    <option value="1" selected>Player 1</option>
                    <option value="2">Player 2</option>
                    <option value="3">Player 3</option>
                    <option value="4">Player 4</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="choice2" class="control-label col-md-4">Second Choice</label>
            <div class="col-md-4">
                <select class="form-control preference" id="choice1">
                    <option value="1">Player 1</option>
                    <option value="2" selected>Player 2</option>
                    <option value="3">Player 3</option>
                    <option value="4">Player 4</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="choice3" class="control-label col-md-4">Third Choice</label>
            <div class="col-md-4">
                <select class="form-control preference" id="choice3">
                    <option value="1">Player 1</option>
                    <option value="2">Player 2</option>
                    <option value="3" selected>Player 3</option>
                    <option value="4">Player 4</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="choice4" class="control-label col-md-4">Fourth Choice</label>
            <div class="col-md-4">
                <select class="form-control preference" id="choice4">
                    <option value="1">Player 1</option>
                    <option value="2">Player 2</option>
                    <option value="3">Player 3</option>
                    <option value="4" selected>Player 4</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <span id="submitbtn" class="btn btn-default">Submit</span>
        </div>
    </form>
</div>
{% endblock %}