<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    <!-- Ben Terner bt3ze -->

    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- include jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- include bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/stylesheets/style.css">

    <script src="https://crypto.stanford.edu/sjcl/sjcl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="/static/js/sharing.js"></script>

    {% endblock %}
</head>

<body>

    <div class="container">

        <header>
            {% block header %} {% endblock %}
        </header>

        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>

</html>